/* TODO general */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #1e252b;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  /* outline: 2px solid red; */
}

/* TODO header */

header {
  /* position: fixed; */
  top: 0;
  align-items: center;
}

.header-logos {
  display: flex;
  gap: 21px;
}

.text-logo {
  color: rgba(255, 255, 255, 0.9);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.header-nav {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: flex;
  outline: 2px solid red;
  /* width: 800px; */
  justify-content: space-between;
}

.nav-links {
  display: flex;
  gap: 24px;
}

.link {
  color: rgba(255, 255, 255, 0.55);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header-sign {
  display: flex;
  gap: 41px;
}

.header-login {
  width: 118px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 8px;
  background: transparent;
  border: none;
  color: #fdf5ff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.header-signup {
  width: 118px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #ff6e30;
  border: none;
  color: #fdf5ff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* main */

/* section-1 */

.section-1 {
  align-items: center;
}

.forms {
  display: flex;
  flex-direction: column;
  gap: 30px;
  outline: 2px solid red;
  width: 600px;
}

.forms-heading {
  color: rgba(255, 255, 255, 0.9);
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.forms-text {
  color: rgba(255, 255, 255, 0.55);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.search-container {
  display: flex;
  /* width: 51%; */
  /* outline: 2px solid red; */
  margin-left: auto;
  margin-right: auto;
  position: relative;
  align-items: center;
}

.forms-input {
  color: rgba(255, 255, 255, 0.38);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 15px;
  border: 1.5px solid rgba(255, 255, 255, 0.1);
  background: #283036;
  padding: 22px 252px 22px 55px;
  outline: none;
  position: absolute;
}

.forms-btn {
  padding: 12px 36px;
  /* width: 130.435px; */
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 9px;
  background: #ff6e30;
  border: none;
  position: absolute;
  right: 130px;
  cursor: pointer;
}

/* social-media */

.social-media {
  display: flex;
  gap: 31px;
}

.media-icon {
  fill: #ffffff;
  width: 36px;
  height: 36px;
}

/* section-2 */

.section-2-heading {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.section-2-text {
  color: rgba(255, 255, 255, 0.55);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

/* tools-cards */

.tools-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  /* outline: 2px solid red; */
}

.tools-card {
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  outline: 2px solid red;
}



