.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.name {
  font-size: 32px;
  color: red;
}
========================================== */

.slack {
  width: 1.015625em;
}

.invision {
  width: 1.015625em;
}

.sketch {
  width: 1.123046875em;
}

.vs {
  width: 1.0322265625em;
}
