.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.name {
  font-size: 32px;
  color: red;
}
========================================== */

.google {
  width: 3.078125em;
}

.microsoft {
  width: 4.595703125em;
}

.slack {
  width: 3.958984375em;
}

.wordpress {
  width: 4.4091796875em;
}
