.section-2-heading {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.section-2-text {
  color: rgba(255, 255, 255, 0.55);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

/* tools-cards */

.tools-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  /* outline: 2px solid red; */
}

.tools-card {
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  outline: 2px solid red;
}